@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navigation-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navigation-container .navigation-menu a {
  text-decoration: none;
  color: #302f30;
  font-family: 'Roboto', sans-serif;
  margin-left: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  position: relative;
  padding: 1rem 0;
}

.navigation-container .navigation-menu a::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #F57F34;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.navigation-container .navigation-menu a:first-child {
  margin-left: 0;
}

.navigation-container .navigation-menu a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navigation-container .navigation-menu .active {
  border-bottom: 3px solid #F57F34;
}

.navigation-container .navigation-logo img {
  height: 80px;
}

.close-menu {
  position: absolute;
  font-size: 24px;
  color: #707070;
  top: 5%;
  left: 5%;
  cursor: pointer;
  display: none;
}

.menu-btn {
  font-size: 24px;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
  display: none;
}

.mobile-logo {
  position: absolute;
  left: 5%;
  top: 5%;
  display: none;
}

.mobile-logo img {
  height: 50px;
}

.header-content-container {
  width: 80%;
  margin: 0 auto;
}

.header-content-container h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.projects-description {
  height: auto;
  color: #707070;
  overflow: hidden;
}

.projects-description .about-us-row {
  height: 800px;
}

.projects-description .about-us-left {
  height: 100%;
  background-color: #fff;
  position: relative;
}

.projects-description .about-us-left .our-project-image {
  height: 80%;
  background-image: url("../assets/project-construction/project-construction.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 10%;
}

.projects-description .about-us-left .our-project-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 40px solid rgba(139, 167, 73, 0.75);
  border-left: 52px solid rgba(139, 167, 73, 0.75);
}

.projects-description .about-us-right {
  height: 100%;
  background-color: #ced7dd;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.projects-description .about-us-right p {
  font-family: "Montserrat", "Roboto", "Courier New", Courier, monospace;
  font-size: 1rem;
}

.projects-description .about-us-right p ~ p {
  margin-top: 0.5rem;
}

.projects-description .about-us-right h1 {
  padding-top: 2em;
  font-family: "Montserrat", "Roboto", "Courier New", Courier, monospace;
  color: #8ba749;
  font-size: 3rem;
  font-weight: 900;
}

.projects-carousel {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #ced7dd));
  background: linear-gradient(90deg, #fff 50%, #ced7dd 50%);
  height: auto;
  font-family: "Montserrat", "Roboto", "Courier New", Courier, monospace;
}

.projects-carousel .row > * {
  padding: 0;
}

.projects-carousel h2 {
  padding-top: 2em;
  color: #8ba749;
  position: relative;
  font-weight: 900;
}

.projects-carousel h2:before {
  content: "";
  border-bottom: 5px solid #8ba749;
  width: 8%;
  display: inline-block;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin-right: 0.3em;
}

.projects-carousel .circular-carousel {
  background: url("../assets/blueprint-deco/second_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100%;
  position: relative;
}

.projects-carousel .circular-carousel #decoration {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.projects-carousel .circular-carousel #circle {
  position: absolute;
  height: 65%;
  top: 50%;
  left: -80%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.projects-carousel .slider-container {
  height: 100%;
}

.projects-carousel .slider-container h3 {
  padding-top: 2em;
  font-family: "Montserrat", "Roboto", "Courier New", Courier, monospace;
  color: #a5452c;
  font-size: 1.5rem;
  font-weight: 900;
}

.projects-carousel .slider-container .slider-div {
  width: 100%;
  position: relative;
}

.projects-carousel .slider-container .slider-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 40px solid rgba(245, 127, 52, 0.75);
}

.projects-carousel .slider-container .slider-div img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-carousel .slider-container h4 {
  padding: 2em;
}

.projects-carousel .slider-container p {
  padding: 2em;
}

@media screen and (max-width: 900px) {
  .projects-description {
    height: auto;
    padding: 5rem 0;
  }
  .projects-description .mobile-logo {
    display: block;
  }
  .projects-description .menu-btn {
    display: block;
  }
  .projects-description .navigation-section {
    background-color: #f57f34;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 500;
  }
  .projects-description .navigation-section .navigation-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-description .navigation-section .navigation-container .navigation-menu {
    text-align: center;
  }
  .projects-description .navigation-section .navigation-container .navigation-menu a {
    display: block;
    color: #707070;
  }
  .projects-description .navigation-section .navigation-container .navigation-menu a:first-child {
    margin-left: 2rem;
  }
  .projects-description .navigation-section .navigation-container .navigation-logo img {
    height: 50px;
  }
  .projects-description .navigation-section .close-menu {
    display: block;
  }
}
/*# sourceMappingURL=projectsstyle.css.map */