@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primaryColor: #f57f34;
$text: #707070;
$darkText: #302f30;
$white: #ffffff;
$lightOrange: #ff9b48;
$green: #8ba749;
$lightGreen: #8ea6a2;
$soil: #db7837;

html,
body {
    overflow-x: hidden;
}

.project-new-section {
  height: 800px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ced7dd;
    height: 100%;
    width: 50%;
    z-index: -1;
  }
  .navigation-section {
    position: relative;
    width: 100%;
    padding: 5rem 0;
    transition: 0.3s;
    z-index: 10000;
    .navigation-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .navigation-menu {
        a {
          text-decoration: none;
          color: $darkText;
          font-family: "Roboto", sans-serif;
          margin-left: 2rem;
          font-weight: 400;
          font-size: 1.1rem;
          position: relative;
          padding: 1rem 0;
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: #f57f34;
            width: 100%;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: right;
            // transform-origin: left;
            transition: transform 0.3s ease-in;
          }
          &:first-child {
            margin-left: 0;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
        .active {
          border-bottom: 3px solid #f57f34;
        }
      }
      .navigation-logo {
        img {
          height: 80px;
        }
      }
    }
    .close-menu {
      position: absolute;
      font-size: 24px;
      color: $darkText;
      top: 5%;
      left: 5%;
      cursor: pointer;
      display: none;
    }
  }

  .menu-btn {
    font-size: 24px;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    display: none;
  }
  .mobile-logo {
    position: absolute;
    left: 5%;
    top: 5%;
    display: none;
    img {
      height: 50px;
    }
  }
  .project-new-header-image {
    height: 500px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 40px solid rgba(139, 167, 73, 0.75);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .project-new-header-content {
    padding: 0 10% 10% 10%;
    h2 {
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: #8ba749;
    }
    p {
      color: #302f30;
      margin-top: 2rem;
    }
  }
}

.projects-new-slider {
  height: 1000px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ced7dd;
    height: 100%;
    width: 50%;
    z-index: -1;
  }
  .circle-slider-container {
    background-image: url("../assets/blueprint-deco/construction_opacity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      height: 50%;
    }
  }
  .projects-slider-container{
      .projects-slider-container-header{
        h2{
            color: #a5452c;
            font-weight: 900;
            font-size: 4em;
            position: relative;
            text-transform: uppercase;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                border-bottom: 5px solid #a5452c;
                width: 100%;
                margin-left: 1rem;
            }
        }
        h5{
            color: $text;
            font-weight: bold;
            text-transform: capitalize;
        }
      }
      .projects-slider-container-body{
          height: 400px;
          background-color: #efd8bc;
          position: relative;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 25px solid #F57F34;
            opacity: 0.5;
          }
      }
      .projects-slider-container-footer{
          padding: 10%;
          h5{
              font-size: 2em;
              color: $text;
              font-weight: bold;
              text-transform: capitalize;
          }
          p{
              font-size: 1.1rem;
              color: $text;
              margin-top: 1.5rem;
              font-weight: 400;
          }
      }
  }
}
.slider-small {
  height: 500px;
  background-color: #efd8bc;
  position: relative;
  .slider-div {
    p{
      color: #777;
      padding: 1em;
      font-weight: bold;
    }
  }
  .swiper-button-prev {
      top: 50%;
      font-weight: 900;
      transform: scale(0.8) translateY(100%) translateX(600%);
      z-index: 100000;
    }
    .swiper-button-next {
      top: 50%;
      font-weight: 900;
      transform: scale(0.8) translateY(100%) translateX(-600%);
    }
    .swiper-pagination{
      bottom: 50%;
      transform: scale(2) translateY(-50%);
      .swiper-pagination-bullet-active{
        background: #777 !important;
      }
      .swiper-pagination-bullet {
        background: none;
        border: 1px solid #777;
      }
    }
}
.footer-section {
  height: 320px;
  border-top: 15px solid;
  border-image: linear-gradient(to right, #a5452c 50%, #43572e 50%) 1;
  background-color: $primaryColor;
  .footer-content {
    height: auto;
    width: 85%;
    color: $darkText;
    font-weight: 600;
    font-size: 14px;
    .media-icons {
      a {
        text-decoration: none;
        display: inline-flex;
        width: 30px;
        height: 30px;
        background-color: #373316;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


.circle {
  width: Max(20vw, 800px);
  height: Max(20vw, 800px);
  border-radius: 50%;
  position: relative;
  left: 0;
  counter-reset: circle;
}
.dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  counter-increment: circle;
  position: absolute;
  text-align: center;
  top: 0;
  left: -50%;
  transform: translate(-50%);
  
  &:nth-of-type(1) {
      transform-origin: center;
      transform: rotate(30deg);
      outline: 1px solid #777;
      outline-offset: -0.6em;
  }
  &:nth-of-type(2) {
      transform-origin: center;
      transform: rotate(90deg);
  }
  &:nth-of-type(3) {
      transform-origin: center;
      transform: rotate(150deg);
  }
}


.swiper {
  .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    width: 100%;
  }
}
}
@media screen and (max-width: 900px) {
  .project-new-section {
    height: auto;
    background-color: $white;
    background-image: url("../assets/blueprint-deco/about-construction-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    &::after{
      content: "";
      width: 0;
    }
    .menu-btn {
      display: block;
    }
    .header-content-container {
      padding-top: 8rem;
      h1 {
        font-size: 3rem;
      }
    }
    .mobile-logo {
      display: block;
    }
    .navigation-section {
      background-color: $white;
      background-image: url("../assets/blueprint-deco/about-construction-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(-100%);
      z-index: 500;
      .navigation-container {
        flex-direction: column-reverse;
        justify-content: center;
        .navigation-menu {
          text-align: center;
          margin-left: -2rem;
          a {
            display: block;
            color: $text;
            margin-top: 2rem;
            &:first-child {
              margin-left: 2rem;
            }
          }
        }
        .navigation-logo {
          img {
            height: 70px;
          }
        }
      }
      .close-menu {
        display: block;
      }
    }

    .project-new-header-image {
      height: 400px;
    }
    .project-new-header-content {
      margin-top: 10rem;
    }
  }
  .projects-new-slider {
    height: auto;
    padding: 0;
    .circle-slider-container{
      overflow: hidden;
    }
    .projects-slider-container{
      margin-top: -20rem;
      .projects-slider-container-footer{
        text-align: center;
        padding: 5rem 2rem;
      }
    }
  }
  .slider-small {
    height: auto;
    padding: 1rem 0 3rem 0;
    margin-top: 50rem;
    .small-slider-container{
      width: 100% !important;
    }
  }
  .footer-section {
    height: 100%;
    .footer-section-image {
      height: 300px;
    }
    .footer-content {
      height: auto;
      padding: 2rem 1rem;
    }
  }
}


